@mixin fontStyle {
    font-size: 12px;
    font-weight: bold;
    color: #574c4c;
}

.CalenderBar{

    border-radius: 0 30px 15px 15px;
    background: #eaeef0;
    box-shadow: 0px 0px 18px rgba(187, 202, 213, 0.9);
    border-bottom: 2px solid #eff2f4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 23;
    position: relative;

    .Calender--detail{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        
        .Current--Month{
            h1{
                @include fontStyle;
                font-size: 16px;
            }
        }

        .Current--date{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h5{
                @include fontStyle;
            }   
            p{
                @include fontStyle;
                font-size: 10px;
                color: gray;
            }
        }

        .Search--Item{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 10rem;
            border-radius: 40px;
            padding: 0.4rem 0.7rem;
            box-shadow:1px 9px 10px rgba(187, 202, 213, 0.9);
            background: #e1e5ee;
            border: 2px solid #e9edf2;

            input{
                border: none;
                padding: 0.3rem;
                @include fontStyle;
                color: gray;
                outline: none;
                background: #e1e5ee ;
                width: 80%;
            }
            i{
                border-radius: 100%;
                background:#d8dbe3;
                padding: 0.5rem;
                color: #808297;
                font-size: 10px;
                cursor: pointer;
                transition: all 0.3s ease-out;

                &:hover{
                    color:#d8dbe3;
                    background:#808297;
                }
            }
        }
    }
    
    .Calender--mode{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        

        i{
            border-radius: 100%;
            background:#e6e7eb;
            padding: 0.4rem 0.5rem;
            color: #808297;
            font-size: 10px;
            margin: 0.1rem 0.4rem;
            cursor: pointer;
            transition: all 0.3s ease-out;

            &:hover{
                color:#d8dbe3;
                background:#808297;
            }
        }
        button{
            border-radius: 40px;
            border: none;
            padding: 3px 10px;
            box-shadow:1px 9px 10px rgba(187, 202, 213, 0.9);
            background: #f0f0f0;
            @include fontStyle;
            color: gray;
            font-size: 10px;
            margin: 0.1rem;
            transition: all 0.2s ease-out;

            &:hover{
                color: #f0f0f0;
                background: gray ;
                border-color: rgb(170, 168, 168) ;
            }
        }
        .Calender--mode--month{
            border: 1px solid #fcc1a3;
            background: #f29765;
            color: white;

        }
    }

    .Calender--days{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        background: #e4e9ec;
        border-radius: 15px;
        
        p{
            @include fontStyle;
            color: gray;
            margin: 0 1.8rem;
        }
    }
}