@mixin fontStyle {
    font-size: 12px;
    font-weight: bold;
    color: #574c4c;
}
.Calender{
    width: 100%;
    height: 62%;
    background: #eaeef0;
    box-shadow: inset -20px -25px 10px rgb(246, 247, 248);
    border-radius: 0 0 30px 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    top: 14.2rem;

    .Calender-day{
        border-top: 1px solid #c6c5c5;
        border-right: 1px solid #c6c5c5;
        padding: 20px;
        text-align: center;

        p{
            @include fontStyle;
            font-size: 10px;
        }
    }
    #day--30,
    #day--23,
    #day--16,
    #day--9,
    #day--2
    {
        border-right: none;
    }
    #day---4,
    #day---3,
    #day---2,
    #day---1,
    #day--0,
    #day--1,
    #day--2
    {
        border-top: none;
    }
}