@mixin fontStyle {
    font-size: 12px;
    font-weight: bold;
    color: #574c4c;
}

.TaskBar{
    border-radius: 30px 0 0 30px;
    background: #eaeef0;
    box-shadow: inset 0px 0px 18px rgba(187, 202, 213, 0.9);
    border-right: 1px solid #c6c6c6;
    display: flex;
    flex-direction: column;
    height: 97%;

    
    .UserUi{

        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5rem 1.5rem;
        border-bottom: 1px solid #c6c6c6;

        .user--pic{
            
            
            img{
                width: 50px; 
                height: 50px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .user--detail{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding: 0 0.5rem ;

            p{
                font-size: 12px;
                color: grey;
            }
            h3{
                @include fontStyle();
            }
        }

    }
    

    .TaskMenu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        border-radius: 40px;
        background: #f0f0f0;
        box-shadow:6px 9px 10px rgba(187, 202, 213, 0.9);
        width: 90%;
        margin: 1rem;

        .addTasks{
             
            button{
                border-radius: 40px;
                border: none;
                padding: 0.4rem 0.7rem;
                box-shadow:1px 9px 10px rgba(187, 202, 213, 0.9);
                background: #f0f0f0;
                cursor: pointer;
                transition: all 0.3s ease-out;

                &:hover{
                    background: #dbd9d9;
                    i{
                        color:#d8dbe3;
                        background:#808297;
                    }
                }

                i{
                    border-radius: 100%;
                    background:#e6e7eb;
                    padding: 0.5rem;
                    color: #808297;
                    font-size: 10px;
                    transition: all 0.3s ease-out;
                    
                }

                span{
                    padding: 0.3rem;
                    @include fontStyle;
                }
            }
        }

        .TasksList{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0.5rem;
            

            .Task{
                display: flex;
                align-items: center;
                justify-content: space-between;
                

                .TaskDetail{
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;

                    p{
                        @include fontStyle;
                    }
                    span{
                        @include fontStyle;
                        font-size: 9px;
                        font-weight: normal;
                    }
                }
            }

        }
    }

    .CompletedTasks{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        border-radius: 40px;
        background: #f0f0f0;
        box-shadow:6px 9px 10px rgba(187, 202, 213, 0.9);
        width: 90%;
        margin: 1rem;

        .CompeleteBtn{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            p{
                @include fontStyle;
            }
            i{
                border-radius: 100%;
                background:#e6e7eb;
                padding: 0.5rem;
                color: #808297;
                font-size: 10px;
                cursor: pointer;
                transition: all 0.3s ease-out;

                &:hover{
                    color:#d8dbe3;
                    background:#808297;
                }

            }
        }
        .CompeleteList{
            transition: all 0.2s ease-out;
            flex-direction: column;
            .CompeleteTask {
                display: flex;
                align-items: center;
                justify-content: space-between;
                

                .TaskDetail{
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;

                    p{
                        @include fontStyle;
                    }
                    span{
                        @include fontStyle;
                        font-size: 9px;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .ModalTask{
        width: 25vw;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        background: #eaeef0;
        border-radius: 40px;
        border: 3px solid #d5dadf;
        box-shadow: 5px 5px 28px rgba(93, 96, 99, 0.9);
        z-index: 100;
        top: 25%;
        left: 40%;
        transition: all 0.5s ease-out;

        .TaskCancel{
            width: 90%;
            display: flex;
            justify-content: flex-end;
            

                i{
                    border-radius: 100%;
                    background: #dedfe6;
                    padding: 0.5rem 0.6rem;
                    color: #808297;
                    font-size: 14px;
                    transition: all 0.3s ease-out;

                        &:hover{
                            background: #808297;
                            color: #dedfe6;
                        }
                }
                

            
        }

        .inputTask{
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            input{
                border-radius: 10px;
                border: 1px solid #bbb;
                padding: 0.4rem 0.7rem;
                box-shadow: 5px 6px 8px rgba(60, 87, 105, 0.9);
                background: #f0f0f0;
                width: 80%;
                @include fontStyle;
            }
        }

        .btnTask{
            display: flex;
            align-items: center;
            justify-content:center;
            
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 7rem;
                border-radius: 10px;
                padding: 0.4rem 0.7rem;
                box-shadow: 1px 9px 10px rgba(187, 202, 213, 0.9);
                background: #d7dce6;
                border: 2px solid #e6e6e6;
                margin: 0.5rem;
                @include fontStyle;
                transition: all 0.3s ease-out;

                &:hover{
                    color: #d7dce6 ;
                    background: #857e7e ;
                    border-color: #c0bcbc ;
                }
            }
        }





    }
}