
@mixin flex ($direction ){
	display : flex;
	justify-content: center;
	align-items: center;
	flex-direction:$direction;
	}


.App {
  height: 90vh;
  width: 80vw;
  text-align: center;
  border-radius: 40px;
  border: 7px solid #e4e8ec;
  background: #F2F3F4;
  box-shadow: 5px 10px 18px #adadada6;
 
  @include flex(row);
  align-items: flex-start;

  .tasks{
    height: 90vh;
    width: 30vw;
  }

  .calender{
    height: 90vh;
    width: 70vw;
  }


}
